<?xml version="1.0" ?>
<robot name="myrobot" xmlns:xacro="https://www.ros.org/wiki/xacro">


  <xacro:macro name="default_wheel_visual_collision" params="reflect">

 <visual>
            <geometry>
                <cylinder length="0.1" radius="0.5"/>
            </geometry>
            <material name="blue"/>
            <origin rpy="0 1.57075 1.57075" xyz="0 ${reflect} 0"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.1" radius="0.5"/>
            </geometry>
        </collision>
           <inertial>
      <mass value="10" />
      <inertia ixx="1.0" ixy="1.0" ixz="1.0" iyy="1.0" iyz="1.0" izz="1.0" />
    </inertial>
  </xacro:macro>
</robot>