<?xml version="1.0" ?>
<robot name="myrobot" xmlns:xacro="https://www.ros.org/wiki/xacro">


  <xacro:macro name="default_wheel_visual_collision">

 <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <material name="blue"/>
            <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
        </collision>
  </xacro:macro>
</robot>