<?xml version="1.0"?>
<robot name="myrobot">
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.3" radius="0.4"/>
            </geometry>
        </visual>
    </link>
    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <material name="blue"/>
            <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder length="0.1" radius="0.2"/>
            </geometry>
            <material name="blue"/>
            <origin rpy="0 1.57075 1.57075" xyz="0 0 0"/>
        </visual>
    </link>

    <joint name="base_to_right_wheel" type="fixed">
        <parent link="base_link" />
        <child link="right_wheel" />
        <origin xyz="0 -0.2 0" />
    </joint>

    <joint name="base_to_left_wheel" type="fixed">
        <parent link="base_link" />
        <child link="left_wheel" />
        <origin xyz="0 0.2 0" />
    </joint>





</robot>